decorator==4.4.0
flake8==3.7.9
Flask==1.1.1
Flask-Login==0.5.0
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
imageio==2.6.0
imagesize==1.1.0
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
locket==0.2.0
mysql-connector==2.2.9
mysql-connector-python==8.0.20
mysqlclient==1.4.6
PyMySQL==0.9.3