<!-- ##### DEV Article Start ##### -->
<article class="initiallyHidden" id="dataDev">
    <h5 class="thirdMessage">Skills</h5>
    <section class="appsBackground">   
        <article>
            I am a Python, Web (HTML5, CSS3, JavaScript) and Database (MySQL, Postgre) student since 2019.
            <br>
            So far, I have passed through the following Python libraries:
        </article>
        <section class="courses_list">
            <ul>
                <li>&nbsp;&nbsp;- Flask</li>
                <li>&nbsp;&nbsp;- Django</li>
                <li>&nbsp;&nbsp;- Pandas</li>
                <li>&nbsp;&nbsp;- Numpy</li>
            </ul>
        </section>
        <p class="paddingBottom">I've been forming a Portfolio which can be found in the Github link below,
            likewise, some Flask based applications are linked on the <a href='#appsArea'>Apps</a> area at the bottom.</p>
        <hr/>

        <p>I knowledge basic principles of Software Development such as:</p>
        <section class="courses_list paddingBottom">
            <ul>
                <li>&nbsp;&nbsp;- Object Orientation</li>
                <li>&nbsp;&nbsp;- Strings Manipulation</li>
                <li>&nbsp;&nbsp;- PEP8 Good Practices</li>
                <li>&nbsp;&nbsp;- CSS Grid</li>
                <li>&nbsp;&nbsp;- Responsive Designs</li>
                <li>&nbsp;&nbsp;- CSS Grid</li>
                <li>&nbsp;&nbsp;- External Data Manipulation calling APIs or working with Bootstrap for web style</li>
                <li>&nbsp;&nbsp;- Basic use of JavaScript and JQuery functionalities</li>
            </ul>
        </section>

        <p class="paddingBottom">I've also been introduced to Data Science by using Python, analysing data with Pandas and Numpy libraries.</p>

    </section>
    <br>
</article>
