<!-- ##### DEV Article Start ##### -->
<article class="initiallyHidden" id="dataDev">
    <h5 class="mainMessage">Software Development Skills</h5>
    <p class="darkRed"> Under Construction</p>
    This is my portfolio for Software Development projects.<br>

    Some of the projects can be found on my Github, link below.<br><br>

    I am a Python student, also learning related subjects to achieve my goals, such as:
    <!-- ##### Course List Start ##### -->
    <section class="courses_list">
        <ul>
            <li>
                HTML5 / CSS3
            </li>
            <li>
                MySQL / Postgre
            </li>
            <li>
                Python libraries such as:
                <ul>
                    <li>
                        &nbsp;&nbsp;- Flask
                    </li>
                    <li>
                        &nbsp;&nbsp;- Django
                    </li>
                    <li>
                        &nbsp;&nbsp;- Pandas
                    </li>
                    <li>
                        &nbsp;&nbsp;- Numpy
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</article>
<!-- ##### DEV Article End ##### -->