{% extends 'base.html' %}
{% block content %}
        <!-- ##### Main Area Start ##### -->
    <main>
<div class="mainmenu_bodytext">

                <p><font color = red>The website isn't yet restricted by access level though the schema is already created.
                    It will be available soon! :)</font></p>
                <p>In order to properly test, there three different accounts with different access levels available:</p>

                <!-- ##### Table 'Accounts' Start ##### -->
                <table class="accounts">
                    <thead>
                        <tr>
                            <td>Users</td>
                            <td>Pass</td>
                            <td>Access Level</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>admin</td>
                            <td>admin</td>
                            <td>Administrator</td>
                        </tr>
                      <tr>
                            <td>teacher</td>
                            <td>teacher</td>
                            <td>tbw</td>
                      </tr>
                        <tr>
                            <td>student</td>
                            <td>student</td>
                            <td>tbw</td>
                      </tr>
                    </tbody>
                </table>
                 <!-- ##### Table 'Accounts' End ##### -->

                <br>
                <p>This app is part of my collection for Python studies.</p>

                <p>The complete solution includes:</p>
                <br>
                <dl class="technical_list">
                    <dt class="technical_list_dt">HTML5 / CSS</dt>
                    <dd>&nbsp;&nbsp;- Visual Studio Code</dd>
                    <dt class="technical_list_dt">Python3</dt>
                    <dd>&nbsp;&nbsp;- PyCharm / Flask</dd>
                    <dt class="technical_list_dt">SQL</dt>
                    <dd>&nbsp;&nbsp;- MySQL</dd>
                </dl>
            </div>
            <div class="mainmenu_bodytext">
                <p>MySQL Database Structure:</p>

                <!-- ##### Table 'USERS' Start ##### -->
                <table>
                    <thead>
                        <tr>
                            <td colspan="5">Users</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="head">
                            <td>ID</td>
                            <td>Name</td>
                            <td>Course</td>
                            <td>Acces_level</td>
                            <td>Allowed to</td>
                        </tr>
                        <tr class="table_body">
                            <td>Auto_inc</td>
                            <td>Varchar</td>
                            <td>Bool</td>
                            <td>admin</td>
                            <td>add, update, delete 'Courses' and 'Users'</td>
                        </tr>
                        <tr class="table_body">
                            <td>Auto_inc</td>
                            <td>Smallint</td>
                            <td>Bool</td>
                            <td>Instructor</td>
                            <td>add, update, delete 'Classes' and link 'Users'</td>
                        </tr>
                        <tr class="table_body">
                            <td>Auto_inc</td>
                            <td>Varchar</td>
                            <td>Bool</td>
                            <td>Student</td>
                            <td>read 'Classes'</td>
                        </tr>
                    </tbody>
                </table>
                <!-- ##### Table 'USERS' End ##### -->

                <!-- ##### Table 'COURSES' Start ##### -->
                <table class="main_page">
                    <thead>
                        <tr>
                            <td colspan="5">Courses</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="head">
                            <td>ID</td>
                            <td>Name</td>
                            <td class="space"></td>
                        </tr>
                        <tbody>
                            <tr class="table_body">
                                <td>Auto_inc</td>
                                <td>Varchar</td>
                                <td class="space"></td>
                            </tr>
                    </tbody>
                </table>
                <!-- ##### Table 'COURSES' End ##### -->

                <!-- ##### Table 'CLASSES' Start ##### -->
                <table class="main_page">
                    <thead>
                        <tr>
                            <td colspan="5">Classes</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="head">
                            <td>ID</td>
                            <td>Course_id</td>
                            <td>Instructor_id</td>
                            <td>Student_id</td>
                            <td>Calendar</td>
                        </tr>
                        <tr class="table_body">
                            <td>Auto_inc</td>
                            <td>Smallint</td>
                            <td>Smallint</td>
                            <td>Smallint</td>
                            <td>Date</td>
                        </tr>
                    </tbody>
                </table>
                <!-- ##### Table 'CLASSES' End ##### -->
            </div>
    </main>
        <!-- ##### Main Area End ##### -->

{% endblock %}
