{% extends 'base.html' %}
{% block content %}
        <!-- ##### Main Area Start ##### -->
        <main>
            <!-- ##### Form New Register Start ##### -->
            <div class="access_level">
                <p>Register a new Course:</p>
                <br>
                <form action="{{ url_for('cou.course_registry') }}" method="post" enctype="multipart/form-data">
                    <fieldset>

                    <div class="alert-{{category}}">
                        <label for="name">Course Name</label>
                        <input type="text" id="name" name="name" class="form-control" required autofocus>
                        <button type="submit">Save</button>
                    </div>
                    </fieldset>
                </form>
            </div>    
            <br>
            <div class="mainmenu_bodytext">
                <p>Courses already registered:</p>

                <table class="table-lists">
                    <thead>
                        <tr>
                            <th colspan="2">Course</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in courses %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>
                            <a href="{{ url_for('cou.courseEdit', id=item.id) }}">Edit</a>
                            <a href="{{ url_for('cou.CourseDelete', id=item.id) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <!-- ##### Main Area End ##### -->
{% endblock %}
