<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>..:: Raphael Cordon ::..</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- ##### Header Start ##### -->
        <header>
            <h1>
                <a href="http://www.raphaelcordon.com/"><img src="{{ url_for('static', filename='index/main_logo.png') }}" class="mainlogo"></a>
                <a href="http://www.raphaelcordon.com/" class="header_link">raphaelcordon.com</a>
            </h1>
        </header>
        <!-- ##### Header End ##### -->

        <main>
            <!-- ##### Introduction Start ##### -->
            <h2 class="Main_message">I am Raphael Cordon,</h2>
            <h4><image src="{{ url_for('static', filename='index/eu.png') }}"></image></h4>
            <section class='introduction'>
                <p>I am an IT professional for more than 11 years with a strong focus on Project Management.<br>
                    My professional background is available on LinkedIn, please find the links below for my social media.</p>
                
                <p>This is my portfolio for Software Development projects.<br>

                    Some of the projects can be found on my Github, link below.<br><br>
                    
                    I am a Python student, also learning related subjects to achieve my goals, such as:</p>
            </section>
            <!-- ##### Introduction End ##### -->

            <!-- ##### Course List Start ##### -->
            <section class="courses_list">
                <ul>
                    <li>
                        HTML5 / CSS3
                    </li>
                    <li>
                        MySQL / Postgre
                    </li>
                    <li>
                        Python libraries such as:
                        <ul>
                            <li>
                                &nbsp;&nbsp;- Flask
                            </li>
                            <li>
                                &nbsp;&nbsp;- Django
                            </li>
                            <li>
                                &nbsp;&nbsp;- Pandas
                            </li>
                            <li>
                                &nbsp;&nbsp;- Numpy
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- ##### Course List End ##### -->

            <!-- ##### Social Media Start ##### -->
            <h3 class="Main_message">My Social Media</h3>
            <section class="social_media">
                <table>
                    <tr>
                        <td><image src="{{ url_for('static', filename='index/socialmedia/github-logo-transparent-black.png') }}" class="social_media_image" id="Github"></td>
                        <td class="social_media_link"><a href="https://github.com/raphaelcordon" id="Github" target="_blank">Github</a></td>
                    </tr>
                    <tr>
                        <td><image src="{{ url_for('static', filename='index/socialmedia/linkedin-logo-transparent-black.png') }}" class="social_media_image" id="LinkedIn"></td>
                        <td class="social_media_link"><a href="https://www.linkedin.com/in/raphael-cordon-04440820/" id="LinkedIn" target="_blank">LinkedIn</a></td>
                    </tr>
                    <tr>
                        <td><image src="{{ url_for('static', filename='index/socialmedia/wordpress-logo-transparent-black.png') }}" class="social_media_image" id="Wordpress"></td>
                        <td class="social_media_link"><a href="https://raphaelcordon.wordpress.com/" id="Wordpress" target="_blank">Wordpress</a></td>
                    </tr>
                    <tr>
                        <td><image src="{{ url_for('static', filename='index/socialmedia/facebook-logo-transparent-black.png') }}" class="social_media_image" id="Facebook"></td>
                        <td class="social_media_link"><a href="https://www.facebook.com/raphael.cordon" id="Facebook" target="_blank">Facebook</a></td>
                    </tr>
                </table>

            </section>
            <!-- ##### Social Media End ##### -->

            <!-- ##### Apps Start ##### -->
            <h3 class="Main_message">Apps (Flask based)</h3>
            <section class="social_media">
                <h5>Hosted by herokuapp</h5>
                <table class="table_app">
                    <tr>
                        <td class="table_app_td">
                            <image src="{{ url_for('static', filename='index/apps/app_musicschool.png') }}" class="apps_image" id="app_musicschool"></td>

                    </tr>
                    <tr>
                        <td class="apps_title"><a href="https://raphaelcordon.herokuapp.com/music_school" id="app_musicschool" target="_blank">School of Music | Management App Simulator</a><br>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td colspan="2">
                            The app intends to simulate basic functions for the daily-basis routine of a music school.
                            Three layers of accesses are set where:<br>
                            &nbsp;&nbsp;- '<b>Admin</b>':&nbsp; Has full access to create, update and remove courses, instructors and students.<br>
                            &nbsp;&nbsp;- '<b>Instructors</b>':&nbsp; Can create classes, add and remove students from classes.<br>
                            &nbsp;&nbsp;- '<b>Students</b>':&nbsp; Can see the classes from courses they are subscribed in.<br>

                            <br><font color=darkred >This app is still under construction, but it is already possible to pass some screens and different functionalities such as create, edit and delete courses and users, though any user will have for now the same level of access in the system.</font>
                        </td>
                    </tr>

                    <tr>
                        <td class="table_app_td">
                            <image src="{{ url_for('static', filename='index/apps/app_movieapi.png') }}" class="apps_image" id="app_movieapi"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="https://raphaelcordonmovieapi.herokuapp.com/" id="app_movieapi" target="_blank">Movie API</a><br>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            The app connects to OMDb API in order to obtain a list of:<br>
                            &nbsp;&nbsp;- <b>Movies</b><br>
                            &nbsp;&nbsp;- <b>Series</b><br>
                            &nbsp;&nbsp;- <b>Games</b><br>
                            &nbsp;&nbsp;- <b>Live Concerts</b><br>
                            <br>
                            OMDb API offers two types of search:<br>
                            &nbsp;&nbsp;- <b>Multiple results: </b>I used this one to list all the results related to the name typed.<br>
                            &nbsp;&nbsp;- <b>Specific data: </b>Once clicked on "<i>More Details</i>" from a movie, the detailed search according to the IMDB ID will be shown.<br>
                        </td>
                    </tr>
                </table>

            </section>
            <!-- ##### Apps End ##### -->
        </main>

        <!-- ##### Footer Start ##### -->
        <footer>
            <a href="http://www.raphaelcordon.com/">
                <img src="{{ url_for('static', filename='index/main_logo_white.png') }}"class="footer_logo"></a>
            <p class="copyright">&copy; Raphael Cordon - 2020</p>
        </footer>
        <!-- ##### Footer End ##### -->
    </body>
</html> 