<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Raphael Cordon personal website">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>..:: Raphael Cordon ::..</title>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <!-- ##### Header Start ##### -->
            <header>
                    <a href="http://www.raphaelcordon.com/"><img src="{{ url_for('static', filename='index/main_logo.png') }}" class="mainlogo"></a>
                    <a href="http://www.raphaelcordon.com/" class="header_link">raphaelcordon.com</a>
                <hr/>
            </header>
            <!-- ##### Header End ##### -->

            <!-- ##### Introduction Start ##### -->
            <section class="image"><img src="{{ url_for('static', filename='index/eu.png') }}"></section>
            <section class='introduction'>
                <h1 class="mainMessage" id="iam">I am Raphael Cordon</h1>
                <p>IT professional for more than 11 years with a strong focus on Project Management.</p>
                <p>My professional background is available on LinkedIn, please find the links below for my social media.</p>
                
                <p>&nbsp; Check below:</p>
                <div>
                    <a href="#buttonPM" id="buttonPM"><i class="mainLinks fas fa-project-diagram">&nbsp; Project Management</i></a>
                    <br>
                    <a href="#buttonPM" id="buttonDev"><i class="mainLinks fas fa-code">&nbsp; Software Development</i></a>
                </div>
            </section>

            <article class="articles paddingBottom" id="articles"> 
                <!-- Article PM  -->
                {% include 'partials/articlePM.html' %}

                <!-- Article DEV  -->
                {% include 'partials/articleDev.html' %}
            </article>    
            <!-- ##### Introduction End ##### -->

            <!-- ##### Social Media Start ##### -->
            <h3 class="mainMessage">My Social Media</h3>
            <section class="social_media paddingBottom">
                <p class="paddingBottom"><a href="https://github.com/raphaelcordon" id="Github" target="_blank">
                    <i class="fab fa-github">&nbsp; Github</i></a></p>

                <p class="paddingBottom"><a href="https://www.linkedin.com/in/raphael-cordon-04440820/" id="LinkedIn" target="_blank">
                    <i class="fab fa-linkedin-in">&nbsp; LinkedIn</i></a></p>

                <p class="paddingBottom"><a href="https://raphaelcordon.wordpress.com/" id="Wordpress" target="_blank">
                    <i class="fab fa-wordpress"> Wordpress</i></a></p>

                <p class="paddingBottom"><a href="https://www.facebook.com/raphael.cordon" id="Facebook" target="_blank">
                    <i class="fab fa-facebook-f">&nbsp;&nbsp; Facebook</i></a></p>
            </section>
            <!-- ##### Social Media End ##### -->

            <!-- ##### Apps Start ##### -->
            <h3 class="mainMessage">Apps (Flask based)</h3>
            <section class="introduction paddingBottom">
                <div class="paddingTop">
                    <a href="#buttonResenhando" id="buttonResenhando"><i class="mainLinks far fa-file-code fa-lg">&nbsp; Resenhando.co</i></a>
                    <br>
                    <!-- App Resenhando  -->
                    {% include 'partials/appResenhando.html' %}

                    <a href="#buttonMovieAPI" id="buttonMovieAPI"><i class="mainLinks far fa-file-code fa-lg">&nbsp; Movies API</i></a>
                    <br>
                    <!-- App Movie API -->
                    {% include 'partials/appMovieAPI.html' %}

                    <a href="#buttonMusicSchool" id="buttonMusicSchool"><i class="mainLinks far fa-file-code fa-lg">&nbsp; Music School Adm</i></a>
                    <br>
                    <!-- App Music School -->
                    {% include 'partials/appMusicSchool.html' %}
                </div>
            </section>
            <!-- ##### Apps End ##### -->
        </main>

        <!-- ##### Footer Start ##### -->
        <footer>
            <a href="http://www.raphaelcordon.com/">
                <img src="{{ url_for('static', filename='index/main_logo_white.png') }}" class="footer_logo"></a>
            <p class="copyright">&copy; Raphael Cordon - 2020</p>
        </footer>
        <!-- ##### Footer End ##### -->


        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
        <!-- Font Awasome -->
        <script src="https://kit.fontawesome.com/7063f4dbe2.js" crossorigin="anonymous"></script>
        <!-- Hide Menu Js -->
        <script src="{{ url_for('static', filename='js/hideMenu.js') }}"></script>
        <!-- Hide Menu Js -->
        <script src="{{ url_for('static', filename='js/hideApps.js') }}"></script>
    </body>
</html> 