{% extends 'base.html' %}
{% block content %}
        <!-- ##### Main Area Start ##### -->
    <main>
        <div class="main_top">
            <div class="mainmenu_bodytext">

                <h1>Log in</h1>
                <form action="{{ url_for('log.authenticate') }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <div>
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" required>

                            <label for="pass">pass</label>
                            <input type="password" id="pass" name="pass" required>

                            <button type="submit">Log in</button>
                        </div>
                    </fieldset>
                </form>
                <br>

                <p>In order to properly test, there three different accounts with different access level available:</p>

                    <!-- ##### Table 'Accounts' Start ##### -->
                    <table class="accounts">
                        <thead>
                            <tr>
                                <td>Users</td>
                                <td>Pass</td>
                                <td>Access Level</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>admin</td>
                                <td>admin</td>
                                <td>Administrator</td>
                            </tr>
                          <tr>
                                <td>teacher</td>
                                <td>teacher</td>
                                <td>tbw</td>
                          </tr>
                            <tr>
                                <td>student</td>
                                <td>student</td>
                                <td>tbw</td>
                          </tr>
                        </tbody>
                    </table>
                 <!-- ##### Table 'Accounts' End ##### -->
            </div>
        </div>
    </main>
        <!-- ##### Main Area End ##### -->

{% endblock %}
